{# templates/main_menu.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Main Menu{% endblock %}

{% block body %}
    <h1>Hello, {{ username }}!</h1>

    <a href="{{ path('app_single_player') }}">Single Player</a>
    <a href="{{ path('app_multiplayer') }}">Multiplayer</a>
    <a href="{{ path('app_logout') }}">Logout</a>
{% endblock %}
